@model IEnumerable<EnF.Page>

@{
    ViewBag.Title = "Danh mục tin tức";
}


<div class="panel panel-primary color noneborder">
    <div class="panel-heading colortheme noneborder">
        <div class="titletable">@ViewBag.Title </div>
        <ul class="list-unstyled menu">

            <li>
                <i class="fa fa-plus-square-o"></i>
                @Html.ActionLink("Thêm mới", "Create")

            </li>



            <li>
                <a href="#" onclick="ReloadCurrentPage()">
                    <i class="fa fa-refresh"></i> Nạp lại
                </a>
            </li>



        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">

        <table id="tblXepLoai" class="table table-striped display table-bordered">
            <thead>
                <tr>
                    <th>
                        Tên
                    </th>

                   

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                           <a href="/Admin/News/Index?newId=@item.PageId">@Html.DisplayFor(modelItem => item.Name)</a>
                        </td>

                       
                        <td>
                               @if (item.Pos == null|| item.Pos == 0)
                               {
                                <a href="/Admin/GroupNews/Edit/@item.PageId"> Sửa </a>
                                <text>|</text>
                                <a href = "/Admin/GroupNews/Delete/@item.PageId" onclick = "return ConfirmDel()"> Xóa </a>

                            }
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    function ConfirmDel() {
        var rs = confirm("Chắc chắn muốn xóa");
        if (rs == false) {
            return false;
        }

    }
</script>
