@using EnF
@{
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    DoGoMyNgheEntities db = new DoGoMyNgheEntities();
    Config config = db.Configs.First();
    Layout = null;
    

}
<footer id="foot" style="padding: 0;height: 310px;background: #eae4e4;">
    <div class="supportmobi">
        <div class="col-md-3 col-xs-3" style="margin-left: -13px;">
            <div class="phone">
                <i class="fa fa-phone-square" style="font-size: 49px;" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-md-9 col-xs-9" style="font-family: initial; font-size: 6px; padding: 0; margin-left: 21px; width: 69%;">
            <div class="txt-support">
                <span class="name">Dương Quốc Hiếu</span>
                <span class="number_phone">0968348438</span>
            </div>
        </div>
    </div>
    <div class="col-md-12 container footer-back">
        <div class="row">
            <div class="col-md-12 footer">
                <div class="col-md-4 footer-left ">
                    <div class="heading-footer">
                        <span>Liên hệ</span>
                    </div>
                    <p><em class="fa fa-home"></em> 147 Chu Văn An - TT. Buôn Trấp - Krông Ana - Đăk Lăk</p>
                    <p><em class="fa fa-male"></em> Dương Quốc Hiếu</p>                    
                    <p><em class="fa fa-envelope"></em>  Hieudq5@viettel.com.vn</p>
                    <a target="_blank" href="https://www.facebook.com/Mx.Duong" class="facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i> Liên hệ hổ trợ Click Facebook</a>
                   
                </div>
                <div class="col-md-4 footer-center ">
                    <div class="heading-footer"><span>Hỗ trợ 4G</span></div>
                    <div class="body-footer">
                        <div class="col-md-12">
                            <p>Hotline hỗ trợ 4G</p>
                            <p><em class="fa fa-phone"></em>  0868.47.3939 - 0968.348.438</p>                         
                        </div>
                        <div class="col-md-12">
                            <p>Hỗ trợ dịch vụ khác</p>
                            <p><em class="fa fa-phone"></em> 198 hoặc 18008198</p>
                        </div>                        
                    </div>
                </div>
                <div class="col-md-4 footer-right ">
                    <div class="heading-footer"><span>Đơn Vị Thiết Kế</span></div>
                    <div class="body-footer">
                        <div class="col-md-12">
                            <p>Website được Thiết Kế Bởi H&T SOFT</p>
                            <p><em class="fa fa-phone"></em>  01668.148.456 - 01646.81.4567 </p>       
                            <a target="_blank" href="https://www.facebook.com/Thi%E1%BA%BFt-K%E1%BA%BF-Website-HT-Soft-1485004451551974/" class="facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i> Liên Hệ Thiết Kế Click Facebook</a>
   
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>


