﻿@using EnF;
@using Web.Repository;
@{
    DoGoMyNgheEntities db = new DoGoMyNgheEntities();
    List<Category> categoryList = db.Categories.ToList();
}
<div class="productlist-danhmuc">
    <div class="txtshowtitle"><h2 id="btnshow"><span class="glyphicon glyphicon-list"></span>Danh Mục Sản Phẩm</h2></div>
    <div id="prolist">
        @foreach (Category cate in categoryList)
        {
            List<ProductGroup> lstProGrp = db.ProductGroups.Where(p => p.CategoryId == cate.Id).ToList();
            foreach (ProductGroup progrp in lstProGrp)
            {
                <div class="productlist-tab">
                    <span class="glyphicon glyphicon-play-circle"></span>
                    <a href="/Nhom-san-pham/@(ClearWordRepository.NoVNeseLower(string.IsNullOrEmpty(progrp.Name)?"a":progrp.Name )+"-"+progrp.ProductGroupId)">@progrp.Name</a>
                </div>
            }
        }
    </div>
</div>

<script type="text/javascript">
    $('#btnshow').click(function () {
        if ($('#prolist')[0].style.display == 'block') {
            $('#prolist').hide();
        } else {
            $('#prolist').show();
        }

    })

</script>
