@model List<EnF.ProductGroup>
<div class="list-group">
    <a href="#" class="list-group-item active">Danh mục sản phẩm    </a>
    @foreach (var pg in Model)
    {
        <a href="/ProductList/ProductList?ProductGroupId=@pg.ProductGroupId#mainContent" class="list-group-item">@pg.Name</a>
    }
</div>
