@using EnF
@{

    DoGoMyNgheEntities db = new DoGoMyNgheEntities();
    int idKey = Convert.ToInt16(System.Configuration.ConfigurationManager.AppSettings["listNewFooter"]);
    List<EnF.Page> lstPage = db.Pages.Where(p => p.PageId == idKey).ToList();
    List<EnF.Page> lstTempPage = new List<EnF.Page>();

    idKey = Convert.ToInt16(System.Configuration.ConfigurationManager.AppSettings["huongDanMua"]);
    lstTempPage = lstPage.Where(p => p.PageId == Convert.ToInt16(idKey)).ToList();
    Int64 huongDanMua = lstTempPage.Count > 0 ? lstTempPage.First().PageId : 0;


    idKey = Convert.ToInt16(System.Configuration.ConfigurationManager.AppSettings["huongThanhToan"]);
    lstTempPage = lstPage.Where(p => p.PageId == Convert.ToInt16(idKey)).ToList();
    Int64 huongThanhToan = lstTempPage.Count > 0 ? lstTempPage.First().PageId : 0;

    idKey = Convert.ToInt16(System.Configuration.ConfigurationManager.AppSettings["chinhSachVanChuyen"]);
    lstTempPage = lstPage.Where(p => p.PageId == Convert.ToInt16(idKey)).ToList();
    Int64 chinhSachVanChuyen = lstTempPage.Count > 0 ? lstTempPage.First().PageId : 0;

    idKey = Convert.ToInt16(System.Configuration.ConfigurationManager.AppSettings["quydinhDoiTra"]);
    lstTempPage = lstPage.Where(p => p.PageId == Convert.ToInt16(idKey)).ToList();
    Int64 quydinhDoiTra = lstTempPage.Count > 0 ? lstTempPage.First().PageId : 0;

    //EnF.Page CamKetQuyDinh = lstPage.Where(p => p.PageId == Convert.ToInt16(System.Configuration.ConfigurationManager.AppSettings["CamKetQuyDinh"])).First();
    //EnF.Page BaoMatThongTin = lstPage.Where(p => p.PageId == Convert.ToInt16(System.Configuration.ConfigurationManager.AppSettings["BaoMatThongTin"])).First();

}

<!-- Footer -->
<footer>
    <div class="menu-footer">
        <ul>
            <li>
                <a href="@(huongDanMua!=0? "/Home/NewsDetail?pageId="+huongDanMua:"#")">
                    Hướng Dẫn Mua Hàng
                </a>
            </li>
            <li>
                <a href="@(huongDanMua!=0? "/Home/NewsDetail?pageId="+huongThanhToan:"#")">

                    Hướng Dẫn Thanh Toán
                </a>
            </li>
            <li>
                <a href="@(huongDanMua!=0? "/Home/NewsDetail?pageId="+chinhSachVanChuyen:"#")">

                    Chính Sách Vận Chuyển
                </a>
            </li>
            <li>
                <a href="@(huongDanMua!=0? "/Home/NewsDetail?pageId="+quydinhDoiTra:"#")">
                    Quy Định Đổi Trả
                </a>
            </li>

        </ul>
    </div>

    <div class="wap-footer">
        <div class="col-md-12" id="wapper-footer">
            <div class="col-md-4 for-lienhe">
                <div class="for-title">
                    <h1>LIÊN HỆ VỚI CHÚNG TÔI</h1>
                </div>
                <div class="noidung">
                    <div class="tencty">
                        <h1>GỖ MỸ NGHỆ TÂY NGUYÊN ĐẠI NGHĨA</h1>
                    </div>
                    <div class="chitiet-lienhe">
                        <p><span class="glyphicon glyphicon-home"></span> 80 Nguyễn Tri Phương - Đà Nẵng</p>
                        <p><span class="glyphicon glyphicon-earphone"></span> 0949.739.888</p>
                        <p><span class="glyphicon glyphicon-envelope"></span> gomynghedainghia@gmail.com</p>
                    </div>
                    <div class="intro">
                        <h1>GỖ MỸ NGHỆ ĐẠI NGHĨA GIAO HÀNG TẬN NƠI TRONG VÀ NGOÀI NƯỚC </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4 for-thanhtoan">
                <div class="for-title">
                    <h1>THANH TOÁN</h1>
                </div>
                <div class="tt-thanhtoan">
                    <ul>
                        <li>
                            <span>Chủ tài khoản: Trần Thị Thùy Duyên</span>
                            <br>
                            <span>Ngân Hàng AGRIBANK</span>
                            <br>
                            <span>Số Tài Khoản: 200 020 614 2978</span>
                            <br>
                            <span>Ngân Hàng AGRIBANK Chi Nhánh Đà Nẵng</span>
                        </li>
                        <li>
                            <span>Chủ tài khoản: Trần Văn Mẫn</span>
                            <br>
                            <span>Ngân Hàng VietcomBank</span>
                            <br>
                            <span>Số Tài Khoản: 004 1000 273 136</span>
                            <br>
                            <span>Ngân Hàng VietcomBank Chi Nhánh Đà Nẵng</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 for-facebook">
                <div class="for-title">
                    <h1>KẾT NỐI VỚI CHÚNG TÔI</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="creat-by">
        <p>© Bản quyền thuộc về Gỗ Mỹ Nghệ Đại Nghĩa |  <a href="">Cung cấp bởi H&T SOFT </a></p>
    </div>

</footer>

<!-- end footer -->