
@model List<EnF.ProductGroup>




<div class="list-group">
    <a href="#" class="list-group-item active" style="background: #61543d;">
        Danh mục sản phẩm
    </a>
    @foreach (var pg in Model)
    {
        <a href="/ProductList/ArchitecProduct?ProductGroupId=@pg.ProductGroupId#mainContent" class="list-group-item">@pg.Name</a>
    }


</div>
@*<div id="leftContract" style="position: fixed; width: 99%; bottom: 15%; Z-INDEX: -1;">
        <img src="/images/phone.png" style="width: 231px;">

    </div>*@