@model EnF.Product
@using EnF;
@using System.Data;
@{
    ViewBag.Title = "NewsDetail";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";

    DoGoMyNgheEntities db = new DoGoMyNgheEntities();
 
    var listProduct = (List<Product>)ViewBag.GroupList;
}
<link href="~/Content/css/Cust.css" rel="stylesheet" />
<div class="col-md-12">
    <div class="detail-product">
        <div id="imgPro">
            <img src="/@Model.Image" class="imgLarge" />

            <div id="iconZoom">
            </div>
        </div>
        <div class="info">
            <div class="name">
                @*@Model.Name*@
            </div>
            <div class="detail">
                <table>
                    <tr>
                        <td class="title">
                            <h2>@Model.Name</h2>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="title">
                            Giá Sản phẩm:@Model.Price
                        </td>
                        <td></td>
                    </tr>


                </table>
            </div>
            <div>
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_native_toolbox">
                </div>
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                @*<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5348c97229f88208"
                        async></script>*@
            </div>
        </div>
    </div>

    @*---------*@
    <div class="showtilte">
        <div class="txtshowtitle">
            <h2 style="font-size:17px">
                Sản phẩm cùng loại
            </h2>
        </div>
    </div>

    @{List<Product> prctList = (List<Product>)ViewBag.Grouplist;
            foreach (var p in prctList)
            {
            <div class="divsanpham col-md-4">
                <div class="divimgsanpham">
                    <a href="/ProductList/ProductDetail?productId=@p.ProductId">
                        <img alt="@p.Name" title="@p.Name" src="/@p.Image" />
                    </a>
                </div>
                <div class="divtensanpham">@p.Name</div>

            </div>
        }
    }
</div>

@section scripts{
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/js/multizoom.js"></script>
    <script type="text/javascript">
        var t = $('.imgLarge');
        jQuery(document).ready(function ($) {
            
            $('.imgLarge').addimagezoom({
                speed: 1500,
                descpos: true,
                imagevertcenter: true,
                magvertcenter: true,
                zoomrange: [3, 10],
                magnifiersize: [300, 300],
                magnifierpos: 'right',
                cursorshade: true
            });

           
        });
        var t = $('.imgLarge');
    </script>



}



   