@{
    ViewBag.Title = "ShowProduct";
}

<h2>ShowProduct</h2>

@*<footer class="mfooter" style="margin-top: 10px; margin-right: auto; margin-left: auto; padding-left: 4px; padding-right: 4px;">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-9">
            <section class="footer-top bgfooter">
                <section class="wrapper clear mfooter" style="width: 100%; margin-top: 7px;">
                    <div id="divinfo" class="box-left-home">
                        <ul>
                            <li><span style="font-size:18px;"><strong>Website này thuộc về:&nbsp;Công ty TNHH XD - SX &amp; TM Phước An</strong></span></li>
                            <li>
                                <span style="font-size:14px;"><strong><em>Nhà máy: </em></strong></span>
                            </li>
                            <li>
                                <span style="font-size:14px;">
                                    <strong>
                                        <em>Trụ sở:&nbsp;&nbsp;</em>
                                    </strong>
                                </span>
                            </li>
                            <li><span style="font-size:14px;"><strong><em>Add: &nbsp; Lô C5-3 KCN Tịnh Phong - huyện Sơn Tịnh - Tp. Quảng Ngãi</em></strong></span></li>
                            <li><span style="font-size:14px;"><strong><em>Add: &nbsp;  37 - 39 Cách Mạng Tháng 8 - Tp. Quảng Ngãi.</em></strong></span></li>
                            <li><span style="font-size:14px;"><strong><em>Tel: &nbsp;&nbsp; +84 553 826 640&nbsp; -&nbsp; Fax: +84 553 818 082 - Hotline: +84 906 59 44 22</em></strong></span></li>

                            <li><span style="font-size:14px;"><strong><em>Tel:&nbsp;&nbsp;&nbsp; +84 553 526 526&nbsp; -&nbsp; Fax: +84 553 526 536 - Hotline: +84 935 55 77 00</em></strong></span></li>
                            <li><span style="font-size:14px;"><strong><em>Email: phuocan@fuaco.com.vn - Website: phuocan.com.vn &amp; fuaco.com.vn</em></strong></span></li>
                        </ul>
                    </div>
                    <div id="divtotop"><img onclick="totop()" style="height: 45px; cursor: pointer; float: right; margin-right: 5px;" src="/images/totop.png"></div>
                </section>
            </section><section class="power" style="width: 100%;"><section class="wrapper clear" style="float: left; margin-left: 14px; width: 96%;"><section class="left" style="height: 25px; margin-left: 2px;">Copyrighted by Phước An 2010</section><section class="desright"><span style="margin-right: 15px;">Thiết kế website</span><a title="" target="_blank" href="http://ngoisaovietmedia.com/">VietStarMedia</a></section></section></section>
        </div>
    </div>
</footer>*@