<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DoGoMyNgheEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-PC\SQLEXPRESS;initial catalog=Sim4G;integrated security=True;multipleactiveresultsets=True;application name=entityframework&quot;" providerName="System.Data.EntityClient" />
    <add name="DoGoMyNgheEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-PC\SQLEXPRESS;initial catalog=DoGoMyNghe;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>