body {
  padding-top: 40px;
  padding-bottom: 40px;
  /*background-color: #eee;*/
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  font-size: 14px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.fa-lock {
    padding-right:2px;
}
.top-10 {
   margin-top:10px;
}

.form-signin {
    padding:20px;
    background:#e1e1e1;
}

 .checkbox input[type=checkbox] {
        margin-left: 0px;
    }

    .checkbox p a {
        color: #8a6d3b;
    }

        .checkbox p a:hover {
            text-decoration: none;
        }