@using EnF
@{
    DoGoMyNgheEntities db = new DoGoMyNgheEntities();
    ViewBag.Title = "NewsList";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
    Config config = db.Configs.First();
}



<div id="introcontent" class="intro-home container-fluid">       
    <div class="container">

        <div class="title-contact">
            <span >
                Thông tin liên hệ
            </span>

        </div>

        <div class="row">


            <div class="col-md-6 col-ms-6">

                <div class="rightdoc" style="width: 100%;">
                    <p>ĐỂ BIẾT THÊM CHI TIẾT SẢN PHẨM, XIN VUI LÒNG LIÊN HỆ </p>
                    <ul>
                        <li>ĐỒ GỖ MỸ NGHỆ ĐẠI NGHĨA </li>
                        <li>Address: 80 Nguyễn Tri Phương - Thanh Khê - Đà Nẵng</li>
                        <li>Mail: Gomynghedainghia@gmail.com</li>
                        <li>Hotline : 0949.739.888</li>
                       
                    </ul>
                </div>
                <div class="googlemap">

                    @Html.Raw(config.GooleMap)
                </div>
            </div>

            <div class="col-md-6 col-ms-6">
                @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <span style="
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 12px;
    color: #00caef; text-transform: uppercase; margin-bottom: 5px; display: block; float: left; width: 100%; padding-top: 15px;">Đóng góp ý kiến</span>
                    <input type="text" name="fullname" required style="margin-bottom: 14px; width: 90%;"
                           placeholder="Họ tên" class="form-control" />

                    <input type="text" name="address" required placeholder="Địa chỉ" style="margin-bottom: 14px;
          width: 90%;" class="form-control" />

                    <input type="email" name="email" style="margin-bottom: 14px;
         width: 90%;" placeholder="Email" class="form-control" />

                    <input type="text" required name="phone" placeholder="Điện thoại" style="margin-bottom: 14px; width: 90%;" class="form-control" />


                    <textarea name="content" placeholder="Ý kiến của bạn" style="margin-bottom: 14px; width: 90%;" class="form-control"></textarea>
                    <input type="submit" value="Gửi đi" class="btn-success" />
                }
            </div>
        </div>

    </div>

</div>
@if (TempData["suucess"] != null)
{
    <script type="text/javascript">
        alert("Chúng tôi đã nhận được thông tin, cảm ơn ý kiến đóng góp của bạn");
    </script>
}

<style type="text/css">
    .googlemap iframe {
        width: 100%;
        height: 100%;
    }
</style>