@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Viewhtml</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/style2.css" rel="stylesheet" />

    <link rel="stylesheet" href="/Content/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />

    <link rel="stylesheet" href="/Content/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />

    <link rel="stylesheet" href="/Content/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <link href="~/Content/css/Custom.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/js/jquery.bxslider.js"></script>
    <link href="~/Content/css/jquery.bxslider.css" rel="stylesheet" />
    <script src="/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.bxslider').bxSlider({
                auto: true,
                autoControls: true,
                minSlides: 2,
                maxSlides: 1,
                slideMargin: 7
            });
        });
    </script>

</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <img src="~/images/logo.png" alt="" id="logo" />
                </div>
                <div class="col-lg-9" style="padding-top: 12px;padding-right: 7%;">
                    <nav id="top-nav">
                        <ul>
                            <li class="active"><a href="" title="">Home</a></li>
                            <li><a href="" title="">4G Vietel</a></li>
                            <li><a href="" title="">Gói 4G di động</a></li>
                            <li><a href="" title="">Dcom Vietel</a></li>
                            <li><a href="" title="">Khuyến Mãi</a></li>
                            <li><a href="" title="">Tin Tức</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="home-slider">

        <div class="box-img">
            <ul class="bxslider">
                <li>
                    <img src="~/images/banner1.jpg" />
                </li>

            </ul>

        </div>

    </div>

    <div class="col-md-12 boxsection productevent" style="background: rgba(76, 76, 76, 0.07);">
        <div class="container" style="width:auto;">
            <div class="col-md-12 box-product">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>Các gói 4G Viettel </span>
                        </div>
                        <div class="panel-tab">
                            <div class="block_home_right">
                                <ul>
                                    <li class="clearfix">
                                        <a class="package-name" href="">GÓI DC500</a>

                                        <div class="btn-register"><a href="">Đăng Ký </a></div>
                                        <span>500000đ / 12 tháng</span>

                                    </li>
                                </ul>
                                <ul>
                                    <li class="clearfix">
                                        <a class="package-name" href="">GÓI DC500</a>

                                        <div class="btn-register"><a>Đăng Ký </a></div>
                                        <span>500000đ / 12 tháng</span>
                                    </li>
                                </ul>
                                <ul>
                                    <li class="clearfix">
                                        <a class="package-name" href="">GÓI DC500</a>

                                        <div class="btn-register"><a>Đăng Ký </a></div>
                                        <span>500000đ / 12 tháng</span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>


                </div>

                <div class="col-md-8">
                    <div class="col-lg-12 box">
                        <div class=" col-lg-12 product">
                            <div class="panel panel-heading">
                                <div class="nameproduct">
                                    <span> CÁC GÓI CƯỚC</span>
                                </div>
                            </div>
                            <div class="panel-product">
                                <div class="col-md-6 panel-body">
                                    <div class="info-package">
                                        <p><a href="">Gói 4G40</a></p>
                                        <ul>
                                            <li>Lưu lượng: <span>1GB</span></li>

                                            <li>Giá cước: <span>40.000đ / 30 ngày</span></li>
                                        </ul>
                                        <div class="text-center clearfix">
                                            <div class="sms_syntax">
                                                Soạn
                                                <span> 4G40 0969752777 </span> gửi
                                                <span>9123</span>
                                            </div>
                                            <div class="button">
                                                <a class="btn-register" href="">Đăng Ký Ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 panel-body">
                                    <div class="info-package">
                                        <p><a href="">Gói 4G40</a></p>
                                        <ul>
                                            <li>Lưu lượng: <span>1GB</span></li>

                                            <li>Giá cước: <span>40.000đ / 30 ngày</span></li>
                                        </ul>
                                        <div class="text-center clearfix">
                                            <div class="sms_syntax">
                                                Soạn
                                                <span> 4G40 0969752777 </span> gửi
                                                <span>9123</span>
                                            </div>
                                            <div class="button">
                                                <a class="btn-register" href="">Đăng Ký Ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 panel-body">
                                    <div class="info-package">
                                        <p><a href="">Gói 4G40</a></p>
                                        <ul>
                                            <li>Lưu lượng: <span>1GB</span></li>

                                            <li>Giá cước: <span>40.000đ / 30 ngày</span></li>
                                        </ul>
                                        <div class="text-center clearfix">
                                            <div class="sms_syntax">
                                                Soạn
                                                <span> 4G40 0969752777 </span> gửi
                                                <span>9123</span>
                                            </div>
                                            <div class="button">
                                                <a class="btn-register" href="">Đăng Ký Ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 panel-body">
                                    <div class="info-package">
                                        <p><a href="">Gói 4G40</a></p>
                                        <ul>
                                            <li>Lưu lượng: <span>1GB</span></li>

                                            <li>Giá cước: <span>40.000đ / 30 ngày</span></li>
                                        </ul>
                                        <div class="text-center clearfix">
                                            <div class="sms_syntax">
                                                Soạn
                                                <span> 4G40 0969752777 </span> gửi
                                                <span>9123</span>
                                            </div>
                                            <div class="button">
                                                <a class="btn-register" href="">Đăng Ký Ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="title-xt">
                                <a href="">Xem Nhiều Hơn</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 box">
                        <div class=" col-lg-12 product">
                            <div class="panel panel-heading">
                                <div class="nameproduct">
                                    <span> CÁC GÓI CƯỚC</span>
                                </div>
                            </div>
                            <div class="panel-product">
                                <div class="col-md-6 panel-body">
                                    <div class="info-package">
                                        <p><a href="">Gói 4G40</a></p>
                                        <ul>
                                            <li>Lưu lượng: <span>1GB</span></li>

                                            <li>Giá cước: <span>40.000đ / 30 ngày</span></li>
                                        </ul>
                                        <div class="text-center clearfix">
                                            <div class="sms_syntax">
                                                Soạn
                                                <span> 4G40 0969752777 </span> gửi
                                                <span>9123</span>
                                            </div>
                                            <div class="button">
                                                <a class="btn-register" href="">Đăng Ký Ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 panel-body">
                                    <div class="info-package">
                                        <p><a href="">Gói 4G40</a></p>
                                        <ul>
                                            <li>Lưu lượng: <span>1GB</span></li>

                                            <li>Giá cước: <span>40.000đ / 30 ngày</span></li>
                                        </ul>
                                        <div class="text-center clearfix">
                                            <div class="sms_syntax">
                                                Soạn
                                                <span> 4G40 0969752777 </span> gửi
                                                <span>9123</span>
                                            </div>
                                            <div class="button">
                                                <a class="btn-register" href="">Đăng Ký Ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 panel-body">
                                    <div class="info-package">
                                        <p><a href="">Gói 4G40</a></p>
                                        <ul>
                                            <li>Lưu lượng: <span>1GB</span></li>

                                            <li>Giá cước: <span>40.000đ / 30 ngày</span></li>
                                        </ul>
                                        <div class="text-center clearfix">
                                            <div class="sms_syntax">
                                                Soạn
                                                <span> 4G40 0969752777 </span> gửi
                                                <span>9123</span>
                                            </div>
                                            <div class="button">
                                                <a class="btn-register" href="">Đăng Ký Ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 panel-body">
                                    <div class="info-package">
                                        <p><a href="">Gói 4G40</a></p>
                                        <ul>
                                            <li>Lưu lượng: <span>1GB</span></li>

                                            <li>Giá cước: <span>40.000đ / 30 ngày</span></li>
                                        </ul>
                                        <div class="text-center clearfix">
                                            <div class="sms_syntax">
                                                Soạn
                                                <span> 4G40 0969752777 </span> gửi
                                                <span>9123</span>
                                            </div>
                                            <div class="button">
                                                <a class="btn-register" href="">Đăng Ký Ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="title-xt">
                                <a href="">Xem Nhiều Hơn</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 box">
                        <div class=" col-lg-12 product">
                            <div class="panel panel-heading">
                                <div class="nameproduct">
                                    <span> CÁC GÓI CƯỚC</span>
                                </div>
                            </div>
                            <div class="panel-product">
                                <div class="col-md-6 panel-body">
                                    <div class="info-package">
                                        <p><a href="">Gói 4G40</a></p>
                                        <ul>
                                            <li>Lưu lượng: <span>1GB</span></li>

                                            <li>Giá cước: <span>40.000đ / 30 ngày</span></li>
                                        </ul>
                                        <div class="text-center clearfix">
                                            <div class="sms_syntax">
                                                Soạn
                                                <span> 4G40 0969752777 </span> gửi
                                                <span>9123</span>
                                            </div>
                                            <div class="button">
                                                <a class="btn-register" href="">Đăng Ký Ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 panel-body">
                                    <div class="info-package">
                                        <p><a href="">Gói 4G40</a></p>
                                        <ul>
                                            <li>Lưu lượng: <span>1GB</span></li>

                                            <li>Giá cước: <span>40.000đ / 30 ngày</span></li>
                                        </ul>
                                        <div class="text-center clearfix">
                                            <div class="sms_syntax">
                                                Soạn
                                                <span> 4G40 0969752777 </span> gửi
                                                <span>9123</span>
                                            </div>
                                            <div class="button">
                                                <a class="btn-register" href="">Đăng Ký Ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 panel-body">
                                    <div class="info-package">
                                        <p><a href="">Gói 4G40</a></p>
                                        <ul>
                                            <li>Lưu lượng: <span>1GB</span></li>

                                            <li>Giá cước: <span>40.000đ / 30 ngày</span></li>
                                        </ul>
                                        <div class="text-center clearfix">
                                            <div class="sms_syntax">
                                                Soạn
                                                <span> 4G40 0969752777 </span> gửi
                                                <span>9123</span>
                                            </div>
                                            <div class="button">
                                                <a class="btn-register" href="">Đăng Ký Ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 panel-body">
                                    <div class="info-package">
                                        <p><a href="">Gói 4G40</a></p>
                                        <ul>
                                            <li>Lưu lượng: <span>1GB</span></li>

                                            <li>Giá cước: <span>40.000đ / 30 ngày</span></li>
                                        </ul>
                                        <div class="text-center clearfix">
                                            <div class="sms_syntax">
                                                Soạn
                                                <span> 4G40 0969752777 </span> gửi
                                                <span>9123</span>
                                            </div>
                                            <div class="button">
                                                <a class="btn-register" href="">Đăng Ký Ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="title-xt">
                                <a href="">Xem Nhiều Hơn</a>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="col-md-12 box-tienich">
                <div class="col-md-4">

                </div>
                <div class="col-md-8">
                    <div class=" col-lg-12 product-utility">
                        <div class="panel-utility">
                            <div class="name-utility">
                                <span> TIỆN ÍCH VIETTEL</span>
                            </div>
                        </div>
                        <div class="panel-detail">
                            <div class="col-md-6 detail-utility">
                                <div class="col-md-12 noidung-tienich">
                                    <div class="page-item item1">
                                        <h1><a href="">Đăng ký gói cước Mimax4g Viettel trọn gói 90.000đ</a></h1>
                                        <p>Đăng ký gói cước Mimax Viettel trọn gói 90.000đ</p>
                                        <a href="" class="btn-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 detail-utility">
                                <div class="col-md-12 noidung-tienich">
                                    <div class="page-item item1">
                                        <h1><a href="">Đăng ký gói cước Mimax4g Viettel trọn gói 90.000đ</a></h1>
                                        <p>Đăng ký gói cước Mimax Viettel trọn gói 90.000đ</p>
                                        <a href="" class="btn-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div><div class="col-md-6 detail-utility">
                                <div class="col-md-12 noidung-tienich">
                                    <div class="page-item item1">
                                        <h1><a href="">Đăng ký gói cước Mimax4g Viettel trọn gói 90.000đ</a></h1>
                                        <p>Đăng ký gói cước Mimax Viettel trọn gói 90.000đ</p>
                                        <a href="" class="btn-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div><div class="col-md-6 detail-utility">
                                <div class="col-md-12 noidung-tienich">
                                    <div class="page-item item1">
                                        <h1><a href="">Đăng ký gói cước Mimax4g Viettel trọn gói 90.000đ</a></h1>
                                        <p>Đăng ký gói cước Mimax Viettel trọn gói 90.000đ</p>
                                        <a href="" class="btn-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-12 box-khuyenmai">

                <div class="col-md-4">

                </div>
                <div class="col-md-8">
                    <div class="col-md-12 khuyenmai">
                        <div class="text-khuyenmai">
                            <div class="name-khuyenmai">
                                <span> Khuyến mãi Viettel</span>
                            </div>
                        </div>
                        <div class="col-md-12 nd-khuyenmai">
                             <ul class="block-khuyenmai ">
                                 <li>
                                     <img src="~/images/khuyenmai1.jpg" alt="" />
                                     <a href="">Khuyến mãi Viettel ngày 8/6 – 12/6/2017 tặng 50% thẻ nạp, tiền nạp </a>
                                 </li>
                                 <li>
                                     <img src="~/images/khuyenmai2.png" alt="" />
                                     <a href="">Chương trình khuyến mãi hòa mạng trả sau Viettel tháng 6/2017 </a>
                                 </li>
                             </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    

    <footer style="padding: 0;height: 310px;background: #eae4e4;">
        <div class="col-md-12 container">
            <div class="row">
                <div class="col-md-12 footer">
                    <div class="col-md-4 footer-left ">
                        <div class="heading-footer">
                            <span>Liên hệ</span>
                        </div>                       
                        <p><em class="fa fa-home"></em> Địa chỉ: 210 Trần Phú, Cái Khế, Ninh Kiều, Cần Thơ</p>                        
                        <p><em class="fa fa-envelope"></em> Mail: phanhongnhungct@gmail.com</p>
                        <p>Website: http://www.dangky-4gviettel.com</p>
                    </div>
                    <div class="col-md-3 footer-center ">
                        <div class="heading-footer"><span>Hỗ trợ 4G</span></div>
                        <div class="body-footer">
                            <div class="col-md-12">
                                <p>Hotline hỗ trợ 4G</p>
                                <p><em class="fa fa-phone"></em> 0292 6250178</p>
                                <p>Viettel: 1800 8198</p>
                            </div>
                            <div class="col-md-12">
                                <p>Hỗ trợ dịch vụ khác</p>
                                <p><em class="fa fa-phone"></em> 198 hoặc 18008198</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 footer-right ">
                        
                    </div>

                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>
