/*.divsanpham {
    float: left;
    background: #FFF;
    margin-top: 7px;    
    position: relative;
    height: 290px;
}*/

/*.divimgsanpham {
    border: #CCCCCC;
    border-style: solid;
    border-width: 1px;
    padding: 2px;    
    vertical-align: middle;
    text-align: center;
    min-height: 189px;
    max-height: 190px;
}

    .divimgsanpham img {
        width: 97%;
        height: 181px;
    }

.divtensanpham {
    min-height: 24px;
    margin-top: 8px;
    margin-bottom: 6px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    font-size: large;
}*/

.detail .ptitle {
    width: 82px;    
    margin-top: 2%;
    height: 35px;
    margin-bottom: 2%;
}
.detail tr {
       border-bottom: 2px solid #aca6a6;
}

.txtshowtitle a {
    color: #1B499D;
    font-weight: bold;
}

#imgProjt {
    /*width: 90%;*/
    text-align: center;
    margin-left: 5%;
    position: relative;
    max-height: 300px;
}

    #imgProjt .imgprjt {
        /*width: 100%;*/
        max-height: 300px;
    }

    #imgProjt .bx-prev, #imgProjt .bx-next {
        position: absolute;
    }

    #imgProjt .protTitle {
        position: absolute;
        bottom: 2%;
        background: rgba(91, 73, 40, 0.35);
        width: 100%;
    }

    #imgProjt .bx-next {
        right: 10px;
        background: url(/images/controls.png) no-repeat -43px -32px;
        top: 50%;
        margin-top: -16px;
        outline: 0;
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        z-index: 9999;
    }

    #imgProjt .bx-prev {
        left: 10px;
        background: url(/images/controls.png) no-repeat 0 -32px;
        top: 50%;
        margin-top: -16px;
        outline: 0;
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        z-index: 9999;
    }

.boxPjcImage {
    display: block;
    float: left;
    width: 100%;
    margin-top: 70px;
    border: 1px solid wheat;
}

    .boxPjcImage > ul {
        display: block;
    }

        .boxPjcImage > ul > li {
            display: block;
            float: left;
            padding: 5px;
            cursor: pointer;
        }

.list-group {
    margin-top: 7px;
}

.bx-wrapper {
    margin-bottom: 22px !important;
}

.productlist {
    padding-left: 0px;
    padding-right: 0px;
}

.showtilte {
    width: 100%;
    margin-bottom: 1%;
    margin-top: 2%;
}

.txtshowtitle h2 {
    border: 1px solid #7c7272;
    font-size: 18px;
    background: #ffcc4e;
    padding: 9px;
    margin-top: 0px;
}

.productlist {
    background: #c7c7c14a;
}

.container {
    margin-top: 1%;
    border: none !important;
}

.productlist-right {
    padding-right: 0px;
    padding-left: 0px;
}

.productlist-danhmuc {
    border-top: none !important;
    border: 1px solid #a29c9c;
}

.productlist-tab {
    padding-top: 0%;
    background: #969692;
    padding: 2px;
    border-bottom: 1px solid white;
}

    .productlist-tab a {
        line-height: 2;
        margin: 0;
        padding-left: 2%;
        font-size: 16px;
        color: black;
        text-decoration: none;
    }

#imgPro {
    display: inline-block;
    width: 380px;
    height: 410px;
    float: left;
    padding-right: 1%;
    padding-left: 0px;
}

.detail-product {
    height: 420px;
    width: 100%;
}

#mainImg {
    width: 100%;
    max-height: 100% !important;
    height: 100% !important;
}

.detail-product .info {
    display: inline-block;
    width: 465px;
    float: left;
    padding-left: 0px;
}

.boxdynamic {
    width: 100% !important;
}

.boxListImg > div > div {
    width: 285px;
    float: left;
    height: 180px;
}

.boxListImg > div img {
    width: 98%;
    cursor: pointer;
    height: 100%;
}

.detail table {
    width: 100%;
}

.detail .title {
    border-bottom: 2px solid #73726f;
}

.boxListImg {
    padding-left: 0px;
    padding-right: 0px;
}

    .boxListImg > div {
        height: 180px !important;
        width: 285px !important;
    }

.chitiet {
    padding-left: 0px;
    padding-right: 0px;
}

.title-chitiet {
    border-bottom: 2px solid #6f6969;
}

    .title-chitiet h1 {
        display: inline-block;
        font-size: 21px;
        padding: 8px;
        margin: 0;
        margin-top: 10px;
        background: #ffcc4e;
    }

#noidung p {
    padding-left: 1%;
    padding-right: 1%;
}

.productlist-right .item {
    margin: 0px !important;
    border: none !important;
    padding-left: 0px;
}

    .productlist-right .item .row {
        width: 100%;
        margin: 1% 0.8%;
        border: 1px solid black;
        display: inline-block;
        vertical-align: top;
    }

#boxdynamic {
    width: 100% !important;
    height: 185px !important;
}

    #boxdynamic > div {
        height: 185px !important;
        width: 276px !important;
        margin-right: 1%;
    }

    #boxdynamic img {
        width: 100% !important;
        height: 185px !important;
    }

.next, .back {
    height: 20% !important;
    top: 44% !important;
    width: 36px !important;
    cursor: pointer !important;
}

.next {
    right: 21px !important;
}
.productlist-tab:hover {
    background: #ffcc4e;
    color: #000;
    height: auto;
}
