.boxproduct col-md-4{
    float: left;
    position: relative;
    width: 640px;
    height: 360px;
    margin: 0 auto;
    overflow: hidden;
}
.image-card {
  position: absolute;
  top: 0;
  left: 0;
  
}
.image-card img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
} 

.boxproduct img:hover{
        -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
    