/*Style Header*/ 
.popup-bg { 
    position: fixed; 
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0,0,0,.8);
    z-index: 100;
    cursor: pointer;
    top: 0;
    left: 0; 
    } 
  .popup {
       text-align: center;
    top: 100px;
    left: 50%;
    margin-left: -300px;
        width: 600px;
    height: 500px;
    background: #e0dfd9 url(modal-gloss.png) no-repeat -200px -80px;
    position: absolute;
    z-index: 101;
    padding: 14px 14px 14px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -box-shadow: 0 0 10px rgba(0,0,0,.4);
    }
    .popup img {
      width: 100%;
      height: 100%;
    }
  .popup.small     { width: 200px; margin-left: -140px;}
  .popup.medium    { width: 400px; margin-left: -240px;}
  .popup.large     { width: 600px; margin-left: -340px;}
  .popup.xlarge    { width: 800px; margin-left: -440px;}
   .close-popup {
   font-size: 15px;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 3px;
    color: #aaa;
    text-shadow: 0 -1px 1px rbga(0,0,0,.6);
    font-weight: bold;
    cursor: pointer;
    } 
  .big-link { display:block; margin-top: 100px; text-align: center; font-size: 70px; color: #06f; }



#wap-header {
    width: 100%;
    height: 120px;
}
.wap-content {
    width: 100%;
    height: 35px;
    background: #ffcc4e;
}
.logotop1 {
   display: none;
}
.wap-menu {
    width: 100%;
    height:85px;
    background: #e0dfd9;
}
.menusub {
  position: absolute;
  height: auto;  
  display: none;
}
#menu li ul {
    position: absolute;    
    display: none;
    width: 200px;
    z-index: 999;
}
#menu > ul > li:hover > .sub-menu {
    display: block;
    z-index: 9999;
    height: auto;
    background: #e0dfd9;
}
#menu li ul li {
    margin: 0;
    line-height: 40px;
    width: 200px;
    background: #86857f;
    float: none;
    height: 35px;
    border-bottom: 1px solid white;
  }
#menu li ul li a {
        font-size: 11px;
    height: 100%;
    line-height: 3;
    padding: 0;
    padding-left: 2%;
    padding-right: 2%;
}
#menu li ul li ul {
position: absolute;    
    display: none;
    width: 200px;
    z-index: 999;    
    left: 100%;
    top: 0;
}
#menu li ul li ul li {
background: #c3baba;
    border-right: 1px solid white;
    border-left: 2px solid white;
}
#menu li ul li:hover .sub-menu2{
     display: block;
    z-index: 9999;
    height: auto;
    background: #e0dfd9;
}
#wap-header #at4-share {
    text-align: right;
    width: 100%;
}
#wap-header #at4-share a {
  font-size: 20px;
width: 30px;
text-align: center;
color: black;
background: #e0dfd9;
height: 30px;
line-height: 28px;
border-radius: 18px;
margin-right: 1%;
text-decoration: none;
}
#wap-header #at4-share .fa-facebook:hover {
   color: #3b5998;
   transition: 1s;
transform: rotate(360deg);
}
#wap-header #at4-share .fa-twitter:hover {
  color: #1b95e0;
  transition: 1s;
transform: rotate(360deg);
}
#wap-header #at4-share .fa-youtube:hover {
 color: #cc181e;
 transition: 1s;
transform: rotate(360deg);
}
#wap-header #at4-share .fa-google:hover {
  color: #d14836;
  transition: 1s;
transform: rotate(360deg);
}
.header-phone p{
    float: right;
font-size: 18px;
padding-top: 1%;
}
.header-mail p {
    font-size: 18px;
padding-top: 1%;
}
.contact-top {
  width:   90%;
float: right;
padding: 0px 15px;
height: 35px;
}
.info-company ul {
    list-style: none;
}
.info-company {
  width: 70%;
float: left;
}
.info-company ul  li{
      display: inline-block;
    padding-right: 30px;
    float: left;
}
.logotop {
  float: left;
z-index: 999;
height: 120px;
position: absolute;
top: 0px;
left: 0px;
width: 85px;
}
.header-content {
  width: 1100px;
  position: relative;
margin: auto;
}
.logotop img {
  height: 100%;
width: 100%;
}
#header-menu{
  width: 100%;
margin: auto;
position: relative;
height: 100%;
}
.infologo {
  width: 30%;
}
.infologo img {
  float: right;
width: 50%;
padding-top: 2%;
}
#menu ul{
  list-style-type: none;
float: left;
padding-left: 0px;
height: 100%;
}
#menu ul li {
  float: left;
position: relative;
height: 100%;
}
.infologo {
  padding-left: 0px;
}
.header-menu {
  height: 100%;
padding-left: 0px;
}
#menu {
  height: 100%;
}
#menu li a{
  font-size: 14px;
padding: 0px 16px;
text-decoration: none;
text-transform: uppercase;
display: block;
line-height: 6;
font-weight: 600;
color: #090909;
position: relative;
}
#menu li a.active {
  background: #ffcc4e;
color: #000;
height: 100%;
}
#menu li a:hover {
  background: #ffcc4e;
color: #000;
height: auto;
}
div.menu ul li:hover ul li ul {
  position: absolute;
margin-left: 0px;
display: none;
min-width: 200px;
background: #6dc71c;
line-height: 1.5;
}
/*End Header*/

/*style icon fb left*/
#at4-share-left  a:hover {
    width: 4pc;
    color: white;

}
.chuyenmuctin {
       margin-top: 10px !important;
    height: auto;
    float: left;
}


#at4-share-left {
   float: left;
    width: 4%;    
    position: fixed;
   top: 149px;
   z-index: 2;
}
#at4-share-left .fa {
        padding: 5px;
    font-size: 24px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
}
#at4-share-left .fa-facebook {
  background: #3B5998;
  color: white;
}
#at4-share-left .fa-twitter {
  background: #55ACEE;
  color: white;
}
#at4-share-left .fa-google {
  background: #dd4b39;
  color: white;
}
#at4-share-left .fa-youtube {
  background: #bb0000;
  color: white;
}
/*end ic fb*/

/*style slider*/
.bxslider {
  list-style: none;
padding: 0;
}
.bx-controls{
  display: none;
}
/*end slide*/
.container {
    width: 1200px ;
    padding: 0 !important;
}
.wapper{
  width: 100%;
}
.chinhsach ul {
  list-style: none;
      padding: 0;
}
.chinhsach ul li {
display: inline-block;
width: 23%;
text-align: center;
margin: 20px 0.8%;
text-transform: uppercase;}
.chinhsach ul .avarta {
    width: 80px;
    height: 80px;
    margin: auto;
    border: 1px solid #000;
    border-radius: 50%;
    line-height: 80px;
    position: relative;
    background: #fff;
}
.chinhsach ul .avarta i {
    width: 70px;
    height: 70px;
    border: 1px solid #000;
    border-radius: 50%;
    line-height: 70px;
    font-size: 40px;
    position: absolute;
    top: 4px;
    left: 4px;
    background: #fff;
}
.chinhsach ul .avarta i {
    line-height: 70px;
    font-size: 40px;
}
.chinhsach .info_cs {
    border: 1px solid #000;
    padding: 40px 0px 12px 0px;
    margin-top: -40px;
}
.chinhsach ul li.item_cs {
    text-align: center;
    text-transform: uppercase;
}
.info_cs h3{
  font-weight: 600;
  font-size: 18px;
}
.chinhsach ul li.item_cs:hover i {
    border: 1px solid #f80205;
    color: #fff;
    background: #f80205;
}
.chinhsach ul li.item_cs:hover .info_cs {
    color: #f80205;
}
.chinhsach ul li.item_cs:hover .fa {
    transition: 1s;
    transform: rotate(360deg);
}
.chinhsach a {
  color: black;
  text-decoration: none;
}
.chinhsach a:hover {  
  text-decoration: none;
}

/*style san pham*/
#xemthem{
  float: right;
    display: inline-block;
}
#xemthem .fa {
font-size: 32px;
color: black
}
#xemthem .fa:hover{
  color: #ffcc4e;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #ffcc4e !important; 
}
.nav-pills>li>a{
  border-radius: 0px !important;
}
.product{
      height: auto;
      display: inline-block;
}
.sanpham {
  width: 100%;
  padding: 0;
  border-top: 2px solid #ffcc4e;
display: inline-block;
}
.title {
  width: 100%;
  border-bottom: 2px solid black;
  margin-top: 2%;
  height: 35px;
  margin-bottom: 2%;
}
.title ul{
list-style: none;
padding: 0;
margin: 0;
    float: left;
    padding-left: 0px;
    height: 100%;
    line-height: 2.5;
}
.title li a {
font-size: 14px;
    padding: 0px 16px !important;
    text-decoration: none;
    text-transform: uppercase;
    display: block;    
    font-weight: 600;
    height: 100%;
    color: black;
background: #c7c7c1;
}
.title li a:active {
  background: #ffcc4e;
    color: #000;
    height: 100%; }  
.title li {
  float: left;
  border-right: 2px solid white;
      height: 100%;
}
.item {
  margin: 1% 0.8%;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
}
.box-sanpham {
  text-align: center;
    position: relative;
}
.img-sp img {
  width: 100%;
  height: 250px;
}
.img-sp{
  padding: 0;
  position: relative;
    line-height: 0px;
}
.info-sp {
  position: absolute;
    bottom: 0px;
    display: none;
    text-align: center;
    width: 100%;
    background: rgba(243, 174, 3, 0.74);
}
.img-sp p{
      overflow: hidden;
}
.item:hover .info-sp{
  display: block;
}
.box-sanpham .item{
      padding: 0;
          width: 23%;
    margin: 1% 0.8%;    
    display: inline-block;
    vertical-align: top;
    height:  370px;
}
#info-ten {
  font-weight: 600;
    margin-top: 6px;
    font-size: 20px;
    margin-bottom: 1%;
}
#info-diachi {
  font-size: 15px;
      margin-top: 0%;
    margin-bottom: 1%;
    font-weight: 600;
}
.tensp a:hover{
  text-decoration: none;
  color: black;
}
.tensp {
  margin-top: 1%;
  font-size: 20px;
  text-align: center;
}
.tensp a{
  color: black;
}
.name-sp {
   padding-right: 3%;
    padding-left: 3%;
    height: 71px;
}
.xem-sp {
  width: 100%;
    padding-right: 4%;
    padding-left: 4%;
        height: 35px;
}
.xem-sp .chitiet {
      font-size: 14px;
        padding: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    line-height: 2;
    font-weight: 600;
    background: black;
    float: left;
        margin-top: 2%;
}
.xem-sp .goingay{
   font-size: 14px;
      padding: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    line-height: 2;
    font-weight: 600;
    background: black;
    float: right;
        margin-top: 2%;
}
.xem-sp a {
  text-decoration: none;
  color: white;
}
.xem-sp a:hover {
  text-decoration: none;
  color: red;
}
.button {
  width: 100%;
    border-top: 2px solid #ffcc4e;
}


/*style footer*/
.menu-footermobi {
  display: none;
}
.menu-footer {
  width: 100%;
  display: inline-block;
}
.menu-footer ul {
    list-style: none;
        padding: 0;
            width: 100%;
    height: 100%;
        background: #c7c7c1;
}
.menu-footer ul li a:hover{
  text-decoration: none;
  
}
    .menu-footer ul li {
        font-size: 13px;
        padding: 2px 7px;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        font-weight: 600;
        height: 100%;
        color: black;
        background: #c7c7c1;
        float: left;
        line-height: 3;
        border-right: 2px solid white;
        width: 16.6666%;
        text-align: center;
    }
.menu-footer ul li a {
  color: black;
}
.menu-footer ul li:hover{
  
  background: #969690 ;
}
.menu-footer ul li:hover a{
  
   color: red;
}
.wap-footer {
      width: 100%;
       height: 260px;
    background: #ffcc4e;
}
.for-title h1{
  text-align: center;
    font-weight: 600;
    color: white;
        font-size: 23px;
}
#wapper-footer {
  width: 100%;
      padding-right: 3%;
    padding-left: 3%;
}
.tencty h1{
  font-size: 19px;
    font-weight: 600;
}
.chitiet-lienhe {
      font-size: 18px;
    font-weight: 600;
}
.chitiet-lienhe p span {
  padding-right: 2%;
}
.for-thanhtoan ul{
    list-style: none;
        padding: 0;          
}
.for-thanhtoan ul li{
        font-size: 16px;
    font-weight: 600;  
    padding-bottom: 3%;    
}
.intro h1{
font-size: 20PX;
    font-weight: 600;
    text-align: center;
}
.creat-by {
  background: black;   
}
    .creat-by p {
        text-align: center;
        color: white;
        padding: 5px 0;
    }
.creat-by p a {
  text-decoration: none;
  color:  red ;
font-weight: 600;}
 .creat-by p a:hover{
  color:white;
 } 
/*end footer*/
.menumobi {
    display: none;
}
.menureponsive {
    display: none;
}
.title-contact {
margin-top: 2%;
display: inline-block;
    width: 100%;
}
.title-contact span {
    border-bottom: 3px solid #e0dfd9;
    display: block;
    padding: 5px 10px;
    font-size: 20px;
    background: #ffcc4e;
}
.rightdoc p {
    padding: 10px 20px;
    text-align:center;
}
.rightdoc ul {
    list-style-type: none;
    padding: 7px;
}
.googlemap {
    height: 300px;
}
.bx-wrapper .bx-viewport {
    height: 320px !important;
}
.bx-wrapper .bx-viewport ul {
    list-style-type: none;
}
.bx-wrapper .bx-viewport li {
    height: 320px !important;
}
    .bx-wrapper .bx-viewport .item {
        height: 305px !important;
        border: 1px solid #c6c3bd !important;
    }
    .bx-wrapper .bx-viewport h1 {
        font-size: 18px !important;
    }
    .bx-wrapper .bx-viewport h2 {
        font-size: 13px !important;
    }
    
    .bx-wrapper .bx-viewport .tensp a {
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        font-style: normal;
    }
.header-share {
    width: 30%;
    float: left;
}
/*style responsive*/
@media only screen and (max-width: 1024px) {
    .xem-sp .goingay {
    padding: 0px 4px;
    width: 50%;
   }
   .xem-sp .chitiet {
    padding: 0px 4px;
    width: 49%;
   }
   .info-company{
    width: 70%;
   }
   .home-slider  img {
    width: 100% !important;
   }
   .wap-content {
       display: none;
   }
   .logotop1{
       display: inline-block;
    width: 40%;}
   .logotop1 img {
    width: 80%;
    height: 100%;
}
   #wap-header {
       height:85px;
   }
   .infologo {
       height:100%;
       width:25% !important;
       padding-right: 0px !important;
   }
   .header-menu {
           width: 75% !important;
    padding: 0px !important;
   }
   #menu li a {
       padding: 0px 7px;
   }
   .menu-footer ul li {
       padding: 0px 8px;
       font-size: 13px;
   }
   
}
@media (max-width: 768px){
#wap-header {
    display: none;
}
#myDropdown {
    display: none;
}
.navbar-nav {
  margin: 0 !important;
}
.navbar-header button {
    display: block;
    background: white;   
}
.navbar-header button span {
   background:#ffcc4e !important;
}
.navbar-header {
     background:#ffcc4e !important;
        
         width: 100%;
}
.navbar-nav>li>a{
      color: white;
    font-size: 17px;
    font-weight: 600;
}
.navbar-nav>li:hover > .mdivc2{
  display: block;
  position: static;
}
.mdivc3 {
 width: 100%;
  position: absolute;
  z-index: 999999;     
        border: solid #DDD 1px;

}
.mdivc3 ul {
  background: #ffcc4e;
    display: inline-block;
    display: none;
}
.mdivc2 {
  width: 100%;
   position: absolute
   background: #FFCC4E;
    z-index: 999;
    min-width: 214px;
    display: none;
    border: solid #DDD 1px;
    left: 0px;
    top: 100%;
}
.mdivc2 ul {
  background: #94938b;
  list-style: none;
  padding: 0;
}
.mdivc2  li {
      height: auto;   
      border-bottom: 1px solid black;
}
.mdivc2  li a{
  color: white;
    font-size: 16px;
    font-weight: 600;
    padding-left: 40px;
    line-height: 2;
        display: inline-block;
    width: 100%;
}
.navbar-nav ul > li > ul > li:hover > ul{
  display: block;
  position: static;
}
.nav>li {
  background: #86857f;
  border-bottom: 1px solid white;
}
.caret{
  float: right;
    margin-top: 1%;
    margin-right: 15px;
}
.menumobi {
       display: block;
   }
.container-fluid {
    padding: 0 !important;
}
.navbar-nav>li {
    width: 100%;
}

.chinhsach ul li {
    width: 50%;
    float: left;
    padding-right: 5px;
        margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.chinhsach ul {
  width: 100%;
}
.container {
  width: 100%;
}
.box-sanpham .item {
 width: 49% !important;
    float: left;    
    padding: 0;
    margin: 0; 
    margin-right: 1%; 
}
.menu-footermobi {
  display: block;
}
.menu-footer {
  display: none;
}
.menu-footermobi .navbar-header {
  width: 100%;
  padding-left: 2%;
}
.menu-footermobi .navbar-header a {
  color: white;
}
.menu-footermobi ul li {
  border-bottom: 1px solid white;
}
.menu-footermobi ul li a {
  font-size: 18px;
    color: white !important;
    font-weight: 600;
}
.wap-footer {
  height: auto;
}
#wapper-footer .for-title h1 {
  margin-top: 0px !important;
}
.menu-footermobi {
  margin-bottom: 1% !important;
}
#wapper-footer {
      padding-top: 1%;
      padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}
.for {
      margin-bottom: 3%;
}
.nav li {
 position: relative;
}
.mdivc3-mb {
  position: absolute;
}
.menureponsive {
    display: block;
	}
.menureponsive .collapse {
	padding: 0px;
}
.menureponsive  .navbar-header .navbar-brand {
	    color: black;
    margin-left: 2% !important;
    font-weight: bold;
}
.navbar-inverse .navbar-nav>li>a {
	    text-transform: uppercase;
    color: white !important;
}
#at4-share-left {
	display: none;
}
#subproduct ul {
list-style-type: none;
    padding: 0;
}
#subproduct > ul > li, .limobile .sub-menu li {
	    padding: 8px !important; 
}
.sub-menu2 {
	    background: #ffcc4e !important;
    width: 35% !important;
}
.sub-menu2 li {

    border-bottom: 1px solid black;
}
.sub-menu2 li:last-child {
	border-bottom: none;
}
.limobile .sub-menu {
	    list-style: none;
    margin: 0 !important;
}
.limobile .sub-menu li a {
	color: white !important;
}
}
@media (max-width: 680) {
.for-lienhe .intro h1 {
    font-size: 17px !important; 
}
.bx-wrapper .bx-viewport img {
        height: 230px !important;
    }
.navbar-header {
  margin: 0px !important;
}
.new-product > div > p > img{
width: 100% !important;
}
.cmt-facebook .fb-comments {
	width: 100% !important;
}
.cmt-facebook .fb-comments  span {
	width: 100% !important;
}
.cmt-facebook .fb-comments iframe {
	width: 100% !important;
}
.menureponsive {
    display: block;
	}
}

@media only screen and (max-width: 650px) {
  .menureponsive {
    display: block;
	}
  #slideProduct,#slidehome{
    display:none !important;
}

  .info{
      width: 100%;
  }
  #prolist{
      display:none;
  }
  #mainImg{
      width: 100% !important;
  }
}

@media (max-width: 480px) {
#slidehome {
	    height: 230px;
}
.home-slider {
	    height: 230px !important;
}
.home-slider .box-img {
	    height: 230px !important;
}
.home-slider .bx-wrapper{
	    height: 230px !important;
}
.home-slider .bx-wrapper .bx-viewport{
	    height: 230px !important;
}
.menureponsive .navbar-header .navbar-brand {
	font-size: 15px;
}
.title li a {
	    font-size: 13px;
	    padding: 0px 7px !important;
	        font-weight: bold;
}
.navbar-collapse {
	margin: 0px !important;
	}
.bx-wrapper .bx-viewport li {
	height: 230px !important;
}
.chinhsach {
  display: inline-block;
}
.productlist-right {
	    text-align: center;
}
.productlist-right .chitiet {
     text-align: left !important;
}
.home-slider img {
	    width: 100% !important;
    height: 96% !important;
}
.productlist-right .item  {
width: 85%;
}
.for-facebook{
	display: none;
}
.navbar-header {
  margin: 0px !important;
}
.chinhsach ul {
  display: inline-block;
  text-align: center;
}
.chinhsach ul li {
      width: 80%;
  float: none;
}
.chinhsach .info_cs {
      border: 1px solid #000;
    padding: 30px 0px 9px 0px;
    margin-top: -40px
}
#sanpham1 {
  display: inline-block;
      text-align: center;
}
.box-sanpham .item {
  width: 80% !important;
  float: none;
  margin-bottom: 3%;
  height: auto;
}
.info-sp {
  display: block;
}
.img-sp img {
  height: 350px;
}
.xem-sp{
  padding-right: 6%;
    padding-left: 6%;
    height: 37px;
    display: inline-block;
}
.carousel-inner {
  height: 200px !important;
  }
.carousel-inner .item {
  height:100% !important; 
  }
  .carousel-inner .item img {
    height: 100% !important;
  }
}
/*end style responsive*/